<div class="content">
  <div class="container">
    <h1>Astuce</h1>
    <img src="https://supermario.nintendo.com/assets/img/explore/explore-thekingdom-fallback-min.jpg" width="50%"><img src="https://img.gaming.gentside.com/article/1280/super-mario-odyssey/super-mario-odyssey-astuces_82f16a4a22521c33b8cf2f879caf736b6425383f.jpg" width="50%" height="540">
    <br>
    <img src="https://img.gaming.gentside.com/article/1280/super-mario-odyssey/super-mario-odyssey-astuces-battre-boss-lunes-facile_0a892a24809dffb394f88621e4c39d2de3387032.jpg" width="50%" height="540"><img src="https://i.ytimg.com/vi/VTIdxdEH54o/sddefault.jpg" width="50%" height="540">
  </div>
</div>