<div class="content gradient-mario">
  <div class="container">
    <h1>mario odyssey</h1>
    <p>Super Mario Odyssey (スーパーマリオ オデッセイ, Sūpā Mario Odessei?) est un jeu vidéo de plates-formes développé par <a
        target="_blank" href="https://www.nintendo.com/fr-fr/">Nintendo</a> EPD Tokyo et édité par Nintendo. Il est
      sorti mondialement le 27 octobre 2017 sur Nintendo Switch.</p>
    <h3>Résumer :</h3>
    <p>Bowser enlève Peach pour se marier avec elle. Mario rencontre une créature ressemblant à un chapeau, un
      Chapiforme, portant le nom de Cappy. Bowser a aussi enlevé sa sœur, Tiara.
      Mario et Cappy récupèrent un vaisseau abandonné, l'Odyssée, et voyagent de pays en pays à la poursuite de Bowser.
      Dans la majorité des mondes, ils doivent combattre les Broodals, une bande de lapins anthropomorphiques
      organisateurs de mariage qui essaie de les empêcher de rattraper Bowser et d'arrêter le mariage.</p>
    <img id="bas" class="immg"
      src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/software/switch/70010000001130/c42553b4fd0312c31e70ec7468c6c9bccd739f340152925b9600631f2d29f8b5"
      alt="image">
  </div>
</div>