<div class="content gradient-minecraft">
  <div class="container">
    <h1>Minecraft</h1>
  <p>Minecraft est un jeu vidéo de type aventure « bac à sable » (construction complètement libre)
    développé par le Suédois Markus Persson, alias Notch, puis par la société <a target="_blank"
      href="https://www.minecraft.net/fr-fr">Mojang Studios</a>. Il s'agit d'un
    univers composé de voxels et généré de façon procédurale, qui intègre un système d'artisanat <br> axé sur
    l'exploitation puis la transformation de ressources naturelles (minéralogiques, fossiles, animales et végétales).
  </p>
  <h3>Système de jeu</h3>
  <p>Minecraft plonge le joueur dans un monde créé de manière procédurale, composé de voxels (des cubes)
    représentant différents matériaux comme de la terre, du sable, de la pierre, de l'eau, de la lave ou des minerais
    (du fer, de l'or, du charbon, etc.)
    formant diverses structures (arbres, cavernes, montagnes, temples).
    Le monde est également habité par des animaux ou monstres tels que des vaches, des moutons, des zombies et des
    squelettes.
    Le joueur peut modifier cet ensemble à volonté en y ajoutant ou supprimant des blocs et en tentant de survivre le
    plus longtemps possible, ces possibilités lui permettant ainsi de bâtir des constructions avec une grande liberté,
    rappelant les jeux de création Lego.</p>
  <img class="img-fluid"
    src="https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png"
    alt="Image">
  </div>
</div>