<div class="content">
    <div class="container">
    <h1>Bienvenue sur 4 jeux vidéo sur Switch !</h1>
    <p>Plongez dans l'univers captivant des jeux vidéo où chaque pixel raconte une histoire et chaque niveau vous entraîne dans une aventure unique.
      Explorez des récits épiques, découvrez des stratégies et rejoignez une communauté passionnée qui partage votre amour du jeu.
      Préparez-vous à déchaîner votre imagination et à vivre des expériences inoubliables. L'aventure commence ici ! Nous parlerons de ces 4 jeux vidéos .</p>
      <br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <a href="jeux-videos/zelda-breath-of-the-wild/index.html">
        <div class="card">
          <img src="/static/img/home/zelda-breath-of-the-wild.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Legend of Breath of the Wild</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col">
        <a href="jeux-videos/zelda-tears-of-the-kingdom/index.html">
        <div class="card">
          <img src="/static/img/home/zelda-tears-of-the-kingdom.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Legend of Zelda Tears of the Kingdom</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col">
        <a href="jeux-videos/minecraft/index.html">
        <div class="card">
          <img src="/static/img/home/minecraft-2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Minecraft</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col">
        <a href="jeux-videos/mario-odyssey/index.html">
        <div class="card">
          <img src="/static/img/home/mario-odyssey.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Super mario odyssey</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
    <!--<table class="table table-hover">
        <tr>
          <td style="background-color: rgb(157, 168, 73);">&nbsp;</td>
          <td style="background-color: rgb(157, 168, 73);">âge recommandé</td>
          <td style="background-color: rgb(157, 168, 73);">âge joué</td>
          <td style="background-color: rgb(157, 168, 73);"> sondage : à quel âge vous jouez</td>
          <td style="background-color: rgb(157, 168, 73);">vers votre univers</td>
          <td style="background-color: rgb(157, 168, 73);"></td>
          <td style="background-color: rgb(157, 168, 73);"></td>
        </tr> 
        <tr>
          <td style="background-color: rgb(212, 228, 91);">Zelda breath of the wild</td>
          <td>12 ans</td>
          <td>vers 10, 11 ans</td>
          <td><button>7</button> <button>8</button> <button>9</button> <button>10</button> <button>11</button> <button>12</button> <button>13</button> <button>14</button> <button>15+</button></td>
          <td><a href="jeux-videos/zelda-breath-of-the-wild/index.html"><button>zelda breath of the wild</button></a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="background-color: rgb(212, 228, 91);">Zelda tears of the kingdom</td>
          <td>12 ans</td>
          <td>vers 10, 11 ans</td>
          <td><button>7</button> <button>8</button> <button>9</button> <button>10</button> <button>11</button> <button>12</button> <button>13</button> <button>14</button> <button>15+</button></td>
          <td><a href="jeux-videos/zelda-tears-of-the-kingdom/index.html"><button>zelda tears of the kingdom</button></a></td>
          <td></td>
          <td></td>
        </tr>    
        <tr>
          <td style="background-color: rgb(212, 228, 91);">Minecraft</td>
          <td>7 ans</td>
          <td>vers 6,8 ans</td>
          <td><button>7</button> <button>8</button> <button>9</button> <button>10</button> <button>11</button> <button>12</button> <button>13</button> <button>14</button> <button>15+</button></td>
          <td><a href="jeux-videos/minecraft/index.html"><button>minecraft</button></a></td>
          <td></td>
          <td></td>
        </tr>   
        <tr>
          <td style="background-color: rgb(212, 228, 91);">Mario odyssey</td>
          <td>7 ans</td>
          <td>vers 6,8 ans</td>
          <td><button>7</button> <button>8</button> <button>9</button> <button>10</button> <button>11</button> <button>12</button> <button>13</button> <button>14</button> <button>15+</button> </td>
          <td><a href="jeux-videos/mario-odyssey/index.html"><button>mario odyssey</button></a></td>
          <td></td>
          <td></td>
        </tr>
      </table>-->
    <br id="bas">
  </div>
