<div class="content gradient-zelda-Botw">
  <div class="container">
    <h1>zelda breath of the wild</h1>
    <p>The Legend of Zelda Breath of the Wild ou simplement zelda breath of the Wild, parfois abrégé BotW est un jeu
      d'action-aventure développé par Nintendo , assisté par Monolith Soft, et publié par <a target="_blank"
        href="https://www.nintendo.com/fr-fr/">Nintendo</a> le 3 mars 2017 sur Nintendo Switch lors du lancement
      de la console, ainsi que sur Wii U dont il est le dernier jeu produit par Nintendo. C'est le dix-neuvième jeu de
      la franchise The Legend of Zelda</p>
    <h3>Univers</h3>
    <p>L'intrigue se déroule dans un univers médiéval-fantastique, le royaume d'Hyrule. Ce dernier est dévasté à la
      suite d'une catastrophe ayant eu lieu un siècle avant l'aventure, et présente ainsi de nombreux temples et
      bâtiments en ruines. La nature, par sa faune et sa flore, est en revanche omniprésente. De nombreux animaux sauvages peuvent être
      rencontrés et chassés, tels que des loups, des sangliers, des renards ,des poissons et même des ours.
      De nombreux insectes et de nombreux végétaux peuvent servir de ressources. Malgré la présence de nombreuses
      ruines, plusieurs villages et auberges, qui servent de points relais entre les quêtes, sont également présents, et
      permettent à Link d'acheter du matériel et des vêtements.</p>
    <img class="img-fluid" src="https://static.posters.cz/image/1300/111060.jpg">
  </div>
</div>