<div class="content gradient-zelda-Totk">
  <div class="container">
    <h1>zelda tears of the kingdom</h1>
    <p>The Legend of Zelda: Tears of the Kingdom ou simplement Zelda tears of the Kingdom, parfois abrégé TotK est un
      jeu d'action-aventure développé
      par Nintendo , assisté par Monolith Soft et édité par <a target="_blank"
        href="https://www.nintendo.com/fr-fr/">Nintendo</a>. Il s'agit du vingtième jeu de la franchise The Legend of
      Zelda. Annoncé le 11
      juin 2019 en clôture de l'émission Nintendo Direct diffusée lors du salon l'E3 2019, il est sorti le 12 mai 2023
      sur la console de jeu Nintendo Switch.</p>
    <h3>Univers</h3>
    <p>Cette section ne cite pas suffisamment ses sources (juillet 2023).
      L'intrigue se déroule dans le Royaume d'Hyrule, dévasté par le Cataclysme, phénomène déclenché par le réveil du
      roi démon, Ganondorf.
      Le monde est séparé en trois parties : la Surface, où se déroule la majeure partie de l'aventure ; le Ciel,
      parsemé de nombreuses îles célestes, que l'on peut atteindre en se projetant dans les airs depuis les tours de
      reconnaissance
      (lesquelles donnent accès à la carte de la région) ; et enfin les Profondeurs, que l'on peut atteindre en sautant
      dans des Abîmes, sortes de gros trous dans le sol apparus après le Cataclysme.</p>
    <img class="img-fluid" src="https://cdn-uploads.gameblog.fr/img/news/406607_632883bde8623.jpg?ver=1">
  </div>
</div>